* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #333;
    text-align: center;
}

h1 {
    color: #FFF;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
}

#container {
    width: 600px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: grey 1px solid;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.grid-item .both {
    background-color: linear-gradient(to left,
            cornflowerblue 0%,
            cornflowerblue 50%,
            orangered 50%,
            orangered 100%);
}

.grid-item .player1 {
    background-color: cornflowerblue;
}

.grid-item .player2 {
    background-color: orangered;
}

.scores {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.score-list {
    display: flex;
}

.score {
    margin: 10px 30px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.joueur1 {
    background-color: cornflowerblue;
}

.joueur2 {
    background-color: orangered;
}

.btn button {
    border-color: transparent;
    border-radius: 5px;
    padding: 5px 40px;
    color: white;
    cursor: pointer;
}

.roll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.roll button {
    background-color: limegreen;
}

.rule {
    font-size: 22px;
}

.reset {
    display: flex;
    justify-content: center;
}

.reset button {
    background-color: red;
}